$bg-common: #fff;
$main-color: #14A76C;
$accent-color: #FF652F;
$additional-accent-color: #E02D05;
$decorative-gradient: linear-gradient(326.12deg, #5D77FF 17.95%, #6539C1 89.78%);
$common-font-color: #4F5569;
$accent-font-color: #1F1D2A;