.feature-card {
  display: flex;
  flex-direction: column;
  width: 445px;
  min-height: 170px;
  padding: 98px 35px 24px;
  background-color: #fff;
  box-shadow: 0px 5px 30px rgba(215, 211, 225, 0.5);
  border-radius: 16px;
}

.feature-card__text {
  @include title-text;
  color: $common-content-color;
}

