.space-image {
  position: relative;
}

.space-image__paper-planes {
  position: absolute;
  top: 716px;
  right: 525px;
  width: 170px;
  height: 90px;
  background: url('../../img/paper-planes.svg') center no-repeat;
}

.space-image__girl {
  position: absolute;
  top: 474px;
  right: 220px;
  width: 275px;
  height: 330px;
  background: url('../../img/girl.svg') center no-repeat;
  cursor: pointer;
}

.space-image__pencil {
  position: absolute;
  top: 162px;
  right: 189px;
  width: 52px;
  height: 50px;
  background: url('../../img/pencil.svg') center no-repeat;
  z-index: -1;
  transform: rotate(-108deg);

  &.animated-1 {
    animation: pencil-animation-1 1s cubic-bezier(.68,.24,.2,.75) 1 forwards;
  }

  &.animated-2 {
    animation: pencil-animation-2 1s cubic-bezier(.68,.24,.2,.75) 1 forwards;

  }

  &.animated-3 {
    animation: pencil-animation-3 0.7s cubic-bezier(.68,.24,.2,.75) 1 forwards;

  }
}

.space-image__space {
  position: absolute;
  top: 0;
  right: -15px;
  width: 882px;
  height: 693px;
  background: url('../../img/space/space-bg.svg') center no-repeat;
  opacity: 0;
  z-index: -2;

  animation: appearance 1s ease-in 1 2.5s forwards;
}

.space-image__atom {
  position: absolute;
  top: 132px;
  right: 770px;
  width: 50px;
  height: 50px;
  background: url('../../img/space/atom.svg') center no-repeat;

  animation: atom-animation 12s ease-out infinite;
}

.space-image__moon {
  position: absolute;
  top: 82px;
  right: 580px;
  width: 75px;
  height: 75px;
  background: url('../../img/space/moon.svg') center no-repeat;

  animation: moon-animation 6s ease-in-out infinite alternate;
}

.space-image__alarm-wrapper {
  position: absolute;
  top: 220px;
  right: 661px;

  animation: alarm-animation-scale 12s ease-in-out infinite;
}

.space-image__alarm {
  width: 65px;
  height: 90px;
  background: url('../../img/space/alarm.svg') center no-repeat;
  transform: rotate(14deg);

  animation: alarm-animation-rotate 12s ease-in-out infinite;
}

.space-image__rocket {
  position: absolute;
  top: 431px;
  right: 617px;
  width: 170px;
  height: 140px;
  background: url('../../img/space/rocket.svg') center no-repeat;

  animation: rocket-animation 12s ease-out infinite;
}

.space-image__striped-planet {
  position: absolute;
  top: 134px;
  right: 387px;
  width: 50px;
  height: 50px;
  background: url('../../img/space/striped-planet.svg') center no-repeat;

  animation: striped-planet-animation 6s ease-in-out 0.8s infinite alternate;
}

.space-image__aerostat {
  position: absolute;
  top: 296px;
  right: 440px;
  width: 70px;
  height: 100px;
  background: url('../../img/space/aerostat.svg') center no-repeat;
  animation: aerostat-animation 6s ease-in-out infinite alternate;
}

.space-image__earth {
  position: absolute;
  top: 461px;
  right: 497px;
  width: 50px;
  height: 50px;
  background: url('../../img/space/earth.svg') center no-repeat;

  animation: earth-animation 6s ease-in-out infinite alternate;
}

.space-image__bulb {
  position: absolute;
  top: 340px;
  right: 278px;
  width: 110px;
  height: 110px;
  background: url('../../img/space/bulb.svg') center no-repeat;
  transform: rotate(16deg);

  animation: bulb-animation 12s ease-in-out infinite;
}

.space-image__plus {
  position: absolute;
  top: 241px;
  right: 402px;
  width: 30px;
  height: 30px;
  background: url('../../img/space/plus.svg') center no-repeat;

  animation: plus-animation 12s ease infinite;
}

.space-image__division {
  position: absolute;
  top: 185px;
  right: 314px;
  width: 35px;
  height: 40px;
  background: url('../../img/space/division.svg') center no-repeat;

  animation: division-animation 12s ease infinite;
}

.space-image__elephant {
  position: absolute;
  top:  235px;
  right: 164px;
  width: 115px;
  height: 90px;
  background: url('../../img/space/elephant.svg') center no-repeat;
  transform: rotate(-11deg);

  animation: elephant-animation 6s ease-in-out infinite alternate;
}

.space-image__palette {
  position: absolute;
  top: 119px;
  right: 71px;
  width: 72px;
  height: 51px;
  background: url('../../img/space/palette.svg') center no-repeat;

  animation: palette-animation 12s ease-in-out infinite 2s;
}

.space-image__plane {
  position: absolute;
  top: 329px;
  right: 31px;
  width: 115px;
  height: 45px;
  background: url('../../img/space/plane.svg') center no-repeat;

  animation: space-plane-animation 6s ease-in-out infinite alternate-reverse;
}

.space-image__stars {
  position: absolute;
  top: 14px;
  right: 43px;
  width: 703px;
  height: 510px;
  background: url('../../img/space/stars.svg') no-repeat;
  z-index: -1;
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes elephant-animation {
  100% {
    transform: rotate(30deg) translateX(10px);
  }
}

@keyframes bulb-animation {
  25% {
    transform: rotate(-24deg);
  }
  58% {
    transform: rotate(19deg);
  }
  75% {
    transform: rotate(40deg);
  }
  100% {
    transform: rotate(15deg);
  }
}

@keyframes rocket-animation {
  67% {
    transform: translateY(-70px);
  }
}

@keyframes palette-animation {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(360deg);
  }
  83% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes alarm-animation-scale {
  0% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  67% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}

@keyframes alarm-animation-rotate {
  0% {
    transform: rotate(14deg);
  }
  100% {   
    transform: rotate(-346deg);
  }
}

@keyframes space-plane-animation {
  100% {
    transform: scale(0.5) rotate(45deg);
  }
}

@keyframes striped-planet-animation {
  100% {
    transform: translateX(30px);
  }
}

@keyframes moon-animation {
  100% {
    transform: translate(-50px, 20px);
  }
}

@keyframes atom-animation {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1)  rotate(45deg);
  }
  100% {
    transform: scale(0)  rotate(90deg);
  }
}

@keyframes earth-animation {
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes division-animation {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  17% {
    transform: scale(1);
    opacity: 1;
  }
  33% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@keyframes plus-animation {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    transform: scale(0.1);
    opacity: 0;
  }
  67% {
    transform: scale(1);
    opacity: 1;
  }
  83% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

@keyframes aerostat-animation {
  100% {
    transform: translateY(34px);
  }
}

@keyframes pencil-animation-1 {
  35% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-70deg);
  }
  75% {
    transform: rotate(-63deg);
  }
  100% {
    transform: rotate(-66deg);
  }
}

@keyframes pencil-animation-2 {
  0% {
    transform: rotate(-66deg);
  }
  35% {
    transform: rotate(-140deg) translateX(8px);
  }
  50% {
    transform: rotate(-100deg) translateX(8px);
  }
  75% {
    transform: rotate(-120deg) translateX(8px);
  }
  100% {
    transform: rotate(-125deg) translateX(8px);
  }
}

@keyframes pencil-animation-3 {
  0% {
    transform: rotate(-125deg) translateX(8px);
  }
  50% {
    transform: rotate(-100deg);
  }
  75% {
    transform: rotate(-112deg);
  }
  100% {
    transform: rotate(-108deg);
  }
}