.timer {
  display: flex;
  gap: 10px;
}

.timer__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70px;
}

.timer__separator {
  margin-top: 12px;
  font-family: 'Nunito', 'Century Gothic', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 33px;
  color: $accent-content-color;

  animation-name: timer-tic;
  animation-duration: 1.5s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-delay: 1s;
}

.timer__cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 60px;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  text-align: center;
  letter-spacing: 0.04em;
  color: $accent-color;
  background-color: #fff;
  box-shadow: 0px 5px 30px rgba(215, 211, 225, 0.5);
  border-radius: 16px;
}

.timer__text {
  margin-top: 4px;
  font-family: 'Nunito', 'Century Gothic', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  text-align: center;
  color: $accent-content-color;

  &--light {
    color: $pale-content-color;
  }
}

@keyframes timer-tic {
  0%{
    opacity: 0;
  }
  33%{
    opacity: 1;
  }
}