.main {
  background: url('../../img/bg-clouds.svg') center top 26% no-repeat;
  background-size: 100% auto; 
}

.main__features {
  background: url('../../img/bg-waves.svg') center bottom 6px no-repeat;
  background-size: 100% auto;
}

.main__certificate {
  background: url('../../img/bg-waves.svg') center bottom no-repeat;
  background-size: 100% auto;
}