.social {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 148px;
}

.social__title {
  @include h3-text;
  margin-bottom: 9px;
  font-weight: 400;
  color: $common-content-color;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  gap: 21px;
}

.social__item {
  width: 35px;
  height: 35px;
  font-size: 0;

  &--telegram {
    background: url('../../img/telegram-icon.svg') center no-repeat;
  }

  &--dzen {
    background: url('../../img/dzen-icon.svg') center no-repeat;
  }

  &--vk {
    background: url('../../img/vk-icon.svg') center no-repeat;
  }

}
