.registration-form {
  position: relative;
  display: flex;
  flex-direction: column;
}

.registration-form__title {
  @include h2-text;
  margin-bottom: 50px;
  color: $accent-content-color;
}

.registration-form__inputs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 540px;
  margin-bottom: 52px;
}

.registration-form__agreement {
  width: 481px;
  margin-bottom: 50px;
}

.registration-form__submit-button {
  width: 290px;
}

.registration-form__paper-planes {
  position: absolute;
  bottom: -15px;
  right: 30px;
  width: 220px;
  height: 140px;
  cursor: pointer;
}

.registration-form__paper-plane-1 {
  position: absolute;
  bottom: 4px;
  left: 6px;
  width: 144px;
  height: 90px;
  background: url('../../img/paper-plane-1.svg') center no-repeat;
}

.animated .registration-form__paper-plane-1 {
  animation: plane-1-animation 0.2s ease-out 1 1.8s forwards;
}

.registration-form__paper-plane-2 {
  position: absolute;
  bottom: 6px;
  right: 43px;
  width: 127px;
  height: 90px;
  background: url('../../img/paper-plane-2.svg') center no-repeat;
  z-index: -1;
}

.animated .registration-form__paper-plane-2 {
  animation: plane-2-animation 0.2s ease-out 1 1.8s forwards;
}

.registration-form__paper-plane-3 {
  position: absolute;
  bottom: 12px;
  right: 59px;
  width: 127px;
  height: 90px;
  background: url('../../img/paper-plane-3.svg') center no-repeat;
  transform: rotate(30deg);
  opacity: 0;
}

.animated .registration-form__paper-plane-3 {
  animation: plane-3-animation 2s linear 1 forwards;
}

@keyframes plane-1-animation {
  100% {
    transform: translate(-30px, 10px) rotate(-10deg);
  }
}

@keyframes plane-2-animation {
  100% {
    transform: translate(0, -10px) rotate(20deg);
  }
}

@keyframes plane-3-animation {
  0% {
    opacity: 0;
    transform: translate(500px, -200px) rotate(340deg);
  }
  10% {
    opacity: 1;
    transform: translate(470px, -180px) rotate(340deg);
  }
  40% {
    opacity: 1;
    transform: translate(253px, -57px) rotate(350deg);
  }
  75% {
    opacity: 1;
    transform: translate(117px, -5px)  rotate(360deg);
  }
  100% {
    opacity: 1;
    transform: translate(0) rotate(390deg);
  }
}