.features {
  padding: 100px 0;
}

.features__title {
  @include h2-text;
  margin-bottom: 58px;
  text-align: center;
  color: $accent-content-color;

  &--accent {
    position: relative;

    &::after {
      position: absolute;
      content: '';
      bottom: -6px;
      left: 0;
      width: 105px;
      height: 10px;
      background: url('../../img/underline-features.svg') bottom no-repeat;
    }
  }
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}